/* *{
    font-family: 'Rubik','sans-serif';
}
.root{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width:100vw;
}
.root.light{
    height: 100vh;
    background-color: #F4F6FA;
    background-image: url('../../public/assets/images/pattern-background-mobile-light.svg');
    background-size: cover;
}
.root.dark{
    height: 100vh;
    background-color:#313E51;
    background-image: url('../../public/assets/images/pattern-background-mobile-dark.svg');
    background-size: cover;
  }
.heading-container{
    display:flex;
    justify-content: flex-end;
}
ul{
    list-style: none;
    padding:0;
}
.subjects-container{
    display:flex;
    flex-direction:column;
    gap:12px;
    align-items: center;
} */
