

.light{
    color:#313E51;
}
.dark{
    color:#FFFFFF;
}
.welcome-heading{
    display: flex;
    flex-direction: column;
}
.subjects-container{
    display:flex;
    flex-direction:column;
    gap:12px;
  }
  