.options-container{
    display:flex;
    flex-direction:column;
    gap:12px;
    margin:0;
    
}
.abc{
    background-color: #F4F6FA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.75em;
}
.question.container h1{
    margin:0;
    font-size: 20px;
    font-weight: 500;
    margin-bottom:1.25em;
}
progress{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width:100%;
    height: 16px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 40px;
    padding:4px;

}
.progress-bar.light{
    background-color: #FFFFFF;
}
.progress-bar.dark{
    background-color: #3B4D66;
}
progress::-moz-progress-bar {
    background-color: #A729F5; 
    border-radius: 8px;
    margin:4px;
  }
progress[value]::-moz-progress-bar {
    width:100%;
    height:8px;
}
progress::-webkit-progress-bar{
    background-color: #FFFFFF;
    border-radius: 8px;
}
progress::-webkit-progress-value{
    background-color: #A729F5; 
    border-radius: 8px;

}
.card.button{
    background-color: #A729F5;
    color:#FFFFFF;
    line-height: 64px;
    height:64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.option-text{
    text-align: left;
}
.error-message{
    display: grid;
    grid-template-columns:auto 1fr;
    align-items: center;
    gap:8px;
    margin:auto;
}
.error-message img{
    width:32px;
    height:32px;
}
@media only screen and (min-width:768px){
    .question.container h1{
        margin:0;
        font-size: 36px;
        font-weight: 500;
        margin-bottom:1.25em;
    }
    .abc{
        margin-left: 12px;
    }
    .card.button{
        font-size: 28px;
    }
    .options-container{
        gap:24px;
    }
    .error-message img{
        width:40px;
        height:40px;
    }
    .error-message p{
        font-size:28px;
    }
}
@media only screen and (min-width:1440px){
    .question.container{
        display: flex;
        flex: row;
        gap:131px;
    }
    .question.container h1{
        margin-bottom: 164px;
    }
}