
.subject.card p{
    margin-left: 0.75em;
}
.subject.card.light{
    color: #313E51;
    background-color: #FFFFFF;
}
.subject.card.dark{
    color:#FFFFFF;
    background-color: #3B4D66;
}
a{
    text-decoration: none;
}
.svg-box.HTML{
    background-color: #FFF1E9;
}
.svg-box.CSS{
    background-color: #E0FDEF;
}
.svg-box.JavaScript{
    background-color: #EBF0FF;
}
.svg-box.Accessibility{
    background-color: #F6E7FF;
}
@media only screen and (min-width:768px){
    .subject.card p{
        font-size: 28px;
    }
}