
*{
  font-family: 'Rubik','sans-serif';
}
.content{
  box-sizing: border-box;
  padding: 0;
}
.root{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width:100vw;
}
.root.light{
  height: 100vh;
  background-color: #F4F6FA;
  background-image: url('../public/assets/images/pattern-background-mobile-light.svg');
  background-size: cover;
}
.root.dark{
  height: 100vh;
  background-color:#313E51;
  background-image: url('../public/assets/images/pattern-background-mobile-dark.svg');
  background-size: cover;
}
.header-container{
  display:grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 0;
  height:72px;
}
ul{
  list-style: none;
  padding:0;
}
@media only screen and (min-width:768px){
  .header-container{
    margin-bottom: 49px;
  }
  .root.light{
    background-image: url('../public/assets/images/pattern-background-tablet-light.svg');
    background-size: initial;
    background-repeat: no-repeat;
  }
  .root.dark{
    background-image: url('../public/assets/images/pattern-background-tablet-dark.svg');
    background-size: initial;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width:1440px){
  .content{
    display:flex;
    flex-direction: row;
    gap:131px;
    justify-content: center;
  }
  .root.light{
    background-image: url('../public/assets/images/pattern-background-desktop-light.svg');
    background-size: initial;
    background-repeat: no-repeat;
  }
  .root.dark{
    background-image: url('../public/assets/images/pattern-background-desktop-dark.svg');
    background-size: initial;
    background-repeat: no-repeat;
  }
  .header-container{
    
    height:224px;
  }
}
